<p><a href="/newsticker">Add new sticker</a></p>

Search: <input ng-model="query">
Sort by:
<select ng-model="orderProp">
  <option value="title">Alphabetical</option>
  <option value="created">Newest</option>
</select>

<ul class="stickers">
    <li class="sticker" ng-repeat="sticker in stickers | filter: query | orderBy: orderProp">
        <div class="header">
            <span class="title">
                {{ sticker.title }}
            </span>
            <span class="buttons">
                <i class="fa fa-clock-o"></i>
                <i class="fa fa-cog"></i>
                <i class="fa fa-close" ng-click="sticker.deleteSticker($index)"></i>
            </span>
        </div>
        <div class="body">

            <p class="memo">{{ sticker.memo }}</p>
            <span>Total: {{ sticker.getTotalTasks() }}</span>
            <span>{{ sticker.getToggleStatus().title }} ended: <button class="btn btn-link" ng-click="sticker.toggleEndedTasks()"><i class="fa fa-toggle-{{ sticker.getToggleStatus().status }}"></i></button></span>

            <ul class="tasks">
                <li ng-repeat="task in sticker.tasks">
                    <!--input type="checkbox" ng-model="task.status"-->
                    <span class="done-{{ task.status }}" ng-click="sticker.changeStatus($event, task)">{{ task.text }}</span>
                    <i class="fa fa-close" ng-click="sticker.deleteTask($index)"></i>
                </li>
            </ul>

            <form class="form-horizontal">
                <input type="text" ng-model="sticker.formTaskText" ng-model-instant>
                <button class="btn btn-link" ng-click="sticker.addTask()"><i class="fa fa-plus"></i></button>
            </form>

        </div>
        <div class="footer">
            <span class="date">
                {{ sticker.created | date:'dd-MM-yyyy HH:mm' }}
            </span>
            <span class="buttons">
                <a class="btn btn-link" href="#/sticker/{{ sticker.id }}"><i class="fa fa-arrows-alt"></i></a>
            </span>
        </div>
    </li>
</ul>