<!--
Search: <input ng-model="query" placeholder="Search...">
Sort by:
<select ng-model="orderProp">
  <option value="title">Alphabetical</option>
  <option value="created">Newest</option>
</select>
-->

<!--button class="btn btn-default" ng-click="addSticker()"><i class="fa fa-plus"> New sticker</i></button-->

<div class="no-stickers" ng-hide="stickers.length">There are no stickers. Make it now!</div>

<ul class="stickers">

    <li class="sticker" id="sticker-{{ sticker.id }}" ng-repeat="sticker in stickers | filter: query | orderBy: orderProp">

        <div class="header" ng-init="sticker.updatedTitle = sticker.title; sticker.updatedMemo = sticker.memo">
            <span class="title" ng-click="sticker.editTitle = true">
                <p ng-hide="sticker.editTitle">
                    {{ sticker.title }}
                </p>
                <p ng-show="sticker.editTitle">
                    <input class="edit" type="text" value="{{ sticker.title }}" ng-blur="sticker.editTitle = false; saveSticker(sticker, $index)" ng-model="sticker.updatedTitle">
                </p>
            </span>
            <span class="buttons">
                <i role="button" class="fa fa-toggle-{{ sticker.toggleStatus }}" ng-click="sticker.toggleEndedTasks()"></i>
                <i role="button" class="fa fa-clock-o" ng-click="sticker.mode = 'notification'"></i>
                <i role="button" class="fa fa-cog" ng-click="sticker.mode = 'edit'"></i>
                <i role="button" class="fa fa-close" ng-click="deleteSticker(sticker, $index)"></i>
            </span>
        </div>

        <!-- Normal mode -->
        <div class="body" ng-hide="sticker.mode">
            <div ng-controller="TaskListCtrl">
                <ng-include src="'static/templates/tasks.html'" onload="sticker_id = sticker.id"></ng-include>
                <span ng-hide="true">
                    <!-- Pass variables from tasks scope to stickers scope -->
                    {{ sticker.totalTasks = getTotalTasks() }}
                    {{ sticker.toggleEndedTasks = toggleEndedTasks }}
                    {{ sticker.toggleStatus = getToggleStatus().status }}
                </span>
            </div>
        </div>

        <!-- Edit mode -->
        <div class="body" ng-show="sticker.mode == 'edit'">
            <div class="form-group">
                <label for="editTitle">Title</label>
                <input class="form-control input-sm" id="editTitle" type="text" value="{{ sticker.title }}" placeholder="Title" ng-model="sticker.updatedTitle">
            </div>
            <div class="form-group">
                <label for="editMemo">Memo</label>
                <textarea class="form-control input-sm" id="editMemo" placeholder="Memo" ng-model="sticker.updatedMemo">{{ sticker.memo }}</textarea>
            </div>
            <p>
                <button type="button" class="btn btn-primary btn-xs" ng-click="saveSticker(sticker, $index)">Save</button>
                <button type="button" class="btn btn-default btn-xs" ng-click="sticker.mode = false">Cancel</button>
            </p>
        </div>

        <!-- Notification mode -->
        <div class="body" ng-show="sticker.mode == 'notification'">
            <div class="form-group">
                <label for="repeatNotification">Repeat</label>
                <input type="checkbox" id="repeatNotification" ng-model="repeatNotification" />
            </div>
            <div ng-show="repeatNotification">
                Repeat every [year, month, week, day] on []
            </div>
            <div class="input-append date form_datetime">
                <input size="16" type="text" value="" readonly>
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
            <script type="text/javascript">
                $(".form_datetime").datetimepicker({
                    format: "dd MM yyyy - hh:ii",
                    autoclose: true,
                    todayBtn: true,
                    pickerPosition: "bottom-left"
                });
            </script>
            <p>
                <button type="button" class="btn btn-primary btn-xs" ng-click="makeNotification(sticker)">Save</button>
                <button type="button" class="btn btn-default btn-xs" ng-click="sticker.mode = false">Cancel</button>
            </p>
        </div>

        <div class="footer">
            <span class="date">
                {{ sticker.created | date: 'dd-MM-yyyy HH:mm' }}
                <span>Total: {{ sticker.totalTasks }}</span>
            </span>
            <span class="buttons">
                <a class="btn btn-link" href="#/sticker/{{ sticker.id }}"><i class="fa fa-arrows-alt"></i></a>
            </span>
        </div>

    </li>

    <li role="button" class="sticker new-sticker-button" ng-click="addSticker()">
        <div class="internal-block">
            <p class="plus">+</p>
            <p class="caption">Create a sticker</p>
        </div>
    </li>
</ul>