<!--p class="memo" ng-click="sticker.editMemo">
    <p ng-hide="sticker.editMemo">
        {{ sticker.memo }}
    </p>
    <p ng-show="sticker.editMemo">
        <input class="edit" type="text" value="{{ sticker.title }}" ng-blur="sticker.editTitle = false; saveSticker(sticker, $index)" ng-model="sticker.updatedTitle" focus-on="sticker.editTitle">
    </p>
</p-->
<p class="tasks-title" ng-show="tasks.length">Tasks</p>
<p class="tasks-title" ng-hide="tasks.length">Has no tasks</p>
<div ng-init="createForm = false"></div>
<div ng-click="createForm = true">
    Create task
</div>
<div ng-show="createForm">
    <form class="form-horizontal">
        <div class="input-group">
            <input type="text" ng-model="tasks.formTaskText" ng-blur="createForm = false" focus-on="createForm">
            <button class="btn btn-link btn-xs" ng-click="addTask(sticker)"><i class="fa fa-plus"></i></button>
        </div>
    </form>
</div>

<ul class="tasks">
    <li ng-repeat="task in tasks">
        <span class="done-{{ task.status }}" ng-click="changeStatus($event, task)">{{ task.text }}</span>
        <button class="btn btn-link btn-xs" ng-click="deleteTask($index)"><i class="fa fa-close"></i></button>
    </li>
</ul>