<!doctype html>
<html lang="en" ng-app="supertodo">
<head>
    <meta charset="utf-8">
    <title>SUPER TODO - TA-DAM!!!</title>
    <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script type="text/javascript" src="static/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="static/js/controllers.js"></script>
</head>
<body ng-controller="SuperTodo">

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-12">
				Header
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				Sidebar
			</div>
			<div class="col-md-9">
				<p><a href="/newsticker">Add new sticker</a></p>
				{% block content %}
				{% endblock %}
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				Footer
			</div>
		</div>

	</div>

</body>
</html>