<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>SUPER TODO - TA-DAM!!!</title>

    <!-- JQuery -->
    <script type="text/javascript" src="static/lib/jquery/jquery-2.1.4.min.js"></script>

    <!-- Angular -->
    <script type="text/javascript" src="static/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="static/lib/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="static/lib/angular/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
    <script type="text/javascript" src="static/js/controllers.js"></script>
    <script type="text/javascript" src="static/js/services.js"></script>

    <!-- Angular Loading Spiner -->
    <script type="text/javascript" src="static/lib/angular/spin.min.js"></script>
    <script type="text/javascript" src="static/lib/angular/angular-spinner.min.js"></script>
    <script type="text/javascript" src="static/lib/angular/angular-loading-spinner.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="static/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/date-time-picker/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="static/lib/bootstrap/date-time-picker/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Less -->
    <link rel="stylesheet/less" type="text/css" href="static/style.less">
    <script type="text/javascript" src="static/lib/less/less.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="static/lib/font-awesome/css/font-awesome.min.css">


</head>
<body>

    <input type="hidden" name="csrf_token"  value="{{ token }}"/>

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-10">
                Awesome logo must be here
            </div>
			<div class="col-md-2">
                <i class="fa fa-user"> {{ user }} </i>
                <a href="/logout"> <i class="fa fa-power-off"></i> </a>
			</div>
            <div class="text-success alert-success text-center">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
		</div>
        {% block auth %}
        {% endblock %}
        <div class="col-md-3">
            <div ui-view="view-folder-list"></div>
        </div>

        <div class="col-md-9">
            <div class="spinner" us-spinner></div>
            <div ui-view="view-sticker-list"></div>
        </div>

		<div class="row">
			<div class="col-md-12">
				Footer
			</div>
		</div>

	</div>

    <!-- Modal -->
    <div class="modal fade" id="stickerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body sticker">
                    {% include "sticker.html" %}
                </div>
            </div>
        </div>
    </div>

</body>
</html>