<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>SUPER TODO - TA-DAM!!!</title>

    <!-- JQuery -->
    <script type="text/javascript" src="static/lib/jquery/jquery-2.1.4.min.js"></script>

    <!-- Angular -->
    <script type="text/javascript" src="static/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="static/lib/angular/angular-resource.min.js"></script>
    <script type="text/javascript" src="static/lib/angular/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
    <script type="text/javascript" src="static/js/controllers.js"></script>
    <script type="text/javascript" src="static/js/services.js"></script>

    <!-- Angular Loading Spiner -->
    <script type="text/javascript" src="static/lib/angular/spin.min.js"></script>
    <script type="text/javascript" src="static/lib/angular/angular-spinner.min.js"></script>
    <script type="text/javascript" src="static/lib/angular/angular-loading-spinner.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="static/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/date-time-picker/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="static/lib/bootstrap/date-time-picker/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Less -->
    <link rel="stylesheet/less" type="text/css" href="static/style.less">
    <script type="text/javascript" src="static/lib/less/less.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="static/lib/font-awesome/css/font-awesome.min.css">


</head>
<body>

    <input type="hidden" name="csrf_token"  value="{{ token }}"/>

	<div class="container-fluid global-wrapper">

		<div class="row global-header">
			<div class="col-md-2 logo">
                <a href="/"><img src="static/images/logo.png" alt="Super ToDo"></a>
            </div>
            <div class="col-md-8">
                Awesome slogan must be here
            </div>
			{% block logout %}
            <div class="col-md-2">
                <a href="/logout"> <i class="fa fa-power-off"></i> </a>
			</div>
            {% endblock %}
		</div>

        {% block register %}
        {% endblock %}

        <div class="global-body">
            {% block content %}{% endblock %}
        </div>

	</div>

    <div class="row global-footer">
        <div class="col-md-12">
            Footer
        </div>
    </div>

</body>
</html>