{% extends 'base.html' %}
{% block content %}

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% else %}

        Новый таск не добавлен =(

        {% endif %}

    {% endwith %}
<p>

    {% if stickers %}
        {% for sticker in stickers %}
            {{ sticker.title }} - {{ sticker.memo }} - {{ sticker.created }}<br>
        {% endfor %}
    {% else %}
        database does not exist
    {% endif %}
</p>


{% endblock %}