<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            Header
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" ng-controller="FoldersListCtrl">
            <ul class="folders">
                <li ng-repeat="folder in folders">
                    <p>{{folder.name|angular}}</p>
                </li>
            </ul>
        </div>
        <div class="col-md-9" ng-controller="StickersListCtrl">
            <p><a href="/newsticker">Add new sticker</a></p>
            <!-- {% block content %}
            {% endblock %} -->

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
              <option value="title">Alphabetical</option>
              <option value="created">Newest</option>
            </select>

            <ul class="stickers">
                <li class="sticker" ng-repeat="sticker in stickers | filter: query | orderBy: orderProp">
                    {% include "sticker.html" %}
                </li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            Footer
        </div>
    </div>

</div>