{% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}
                <h2>{{ message }}</h2>
            {% endfor %}
        {% endif %}

    {% endwith %}
<h1>Add new sticker</h1>
<form action="" method="post" name="newsticker">
    {{ form.hidden_tag() }}
    <p>
        Please enter folder: <br />
        {{ form.folder(size=100) }}
        {% for error in form.errors.title %}
         <span style="color: red;">[{{error}}]</span>
        {% endfor %}
        <br />
    </p>
    <p>
        Please enter title: <br />
        {{ form.title(size=100) }}
        {% for error in form.errors.title %}
         <span style="color: red;">[{{error}}]</span>
        {% endfor %}
        <br />
    </p>
    <p>
        Please enter sticker text: <br />
        {{ form.text(size=100) }}
        {% for error in form.errors.text %}
         <span style="color: red;">[{{error}}]</span>
        {% endfor %}
        <br />
    </p>
    <p>
        Please enter task text: <br />
        {{ form.task(size=100) }}
        {% for error in form.errors.text %}
         <span style="color: red;">[{{error}}]</span>
        {% endfor %}
        <br />
    </p>
    <p>
        status: done {{ form.status }}  <br />
    </p>
    <p>
        <input type="submit" value="Add new sticker">
    </p>

</form>

<hr>
    {% if stickers %}
        {% for sticker in stickers %}
            <div class="sticker">
                <h4>Sticker number - {{ sticker.id}}</h4>
            <p>folder: {{ sticker.folder }}</p>
            <p> title: {{ sticker.title }}</p>
            <p>memo: {{ sticker.memo }}</p>
            <p>datetime: {{ sticker.created }}</p>
            <p>
                {% if sticker.tasks %}
                    <ul>
                    {% for task in sticker.tasks %}
                        <li>{{ task.text }}, status - {{ task.status }}</li>
                    {% endfor %}
                    </ul>
                {%  endif %}
            </p>
                <p><a href="{{url_for('delete_sticker', id=sticker.id)}}">Delete</a></p>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>database does not exist</p>
    {% endif %}


