<div class="header">
    <span class="title">
        {{sticker.title|angular}}
    </span>
    <span class="buttons">
        <i class="fa fa-clock-o"></i>
        <i class="fa fa-cog"></i>
        <i class="fa fa-close"></i>
    </span>
</div>
<div class="body">
    <p class="memo">{{sticker.memo|angular}}</p>
    <ul class="tasks">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
    </ul>
</div>
<div class="footer">
    <span class="date">
        {{sticker.created|angular}}
    </span>
    <span class="buttons">
        <a type="button" class="btn btn-link" data-toggle="modal" data-target="#stickerModal">
            <i class="fa fa-arrows-alt"></i>
        </a>
    </span>
</div>
